<div class="page-header">
    <h1>Biztosan törlöd?</h1>
</div>
<div>
    <h3>
        {{playerevent.name}} - {{playerevent.eventcategory}} - {{playerevent.eventTime}}
    </h3>
</div>
<br>
<div>
    <p><a href="/footballmatch/list/{{footballmatch.id}}" class="btn btn-success">Nem</a>
    <form method="post">
			<button type="submit" class="btn btn-primary">Igen</button>
    </form>
</div>
